{
    "extends": ["@diia-inhouse/eslint-config"],
    "overrides": [
        {
            "files": ["*.ts"],
            "rules": {
                "no-console": "off"
            }
        }
    ]
}
